Repository AlexWayfer/flame_routes_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:3.2
  environment:
  ...

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, rubocop, rspec

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  flame_routes_toys.gemspec
  spec/spec_helper.rb
Due: remark, rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  flame_routes_toys.gemspec
Due: remark, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  flame_routes_toys.gemspec
Due: rubocop, rspec

Update all toys dependencies
  Gemfile
  flame_routes_toys.gemspec
Due: rubocop, rspec

Update version to 0.7.0
  CHANGELOG.md
  lib/flame_routes_toys/version.rb
Due: remark, rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  flame_routes_toys.gemspec
Due: remark, rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Update runtime dependency `toys-core`
  flame_routes_toys.gemspec
Due: rubocop, rspec

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  flame_routes_toys.gemspec
Due: rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  flame_routes_toys.gemspec
Due: remark, rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  Gemfile
Due: remark, rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
  flame_routes_toys.gemspec
Due: rubocop, rspec

Update `alt_memery` runtime dependency
  flame_routes_toys.gemspec
Due: rubocop, rspec

Update RuboCop dependency
  Gemfile
Due: rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  flame_routes_toys.gemspec
Due: remark, rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/flame_routes_toys/version.rb
Due: remark, rubocop, rspec

Fail `remark` on any warning
  package.json
Due: remark

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Replace `Rakefile` with `.toys.rb` in CI config
  .cirrus.yaml
Due: remark, rubocop, rspec

Switch from Cirrus CI to GitHub Actions
  .cirrus.yaml
  .github/workflows/ci.yml
  README.md
Due: remark, rubocop, rspec

Remove Code Climate badge from README
  README.md
Due: remark

Lock `simplecov` on minor version
  Gemfile
Due: rubocop, rspec

Update `toys-core` runtime dependency
  flame_routes_toys.gemspec
Due: rubocop, rspec

Update version to 1.1.0
  CHANGELOG.md
  lib/flame_routes_toys/version.rb
Due: remark, rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
